@define-color main-fg         #d3c6aa;
@define-color main-bg         #1e2326;
@define-color sub-bg          #272e33;
@define-color gray            #9da9a0;

@define-color red             #e67e80;
@define-color orange          #e69875;
@define-color yellow          #dbbc7f;
@define-color bg_yellow       #45443c;
@define-color green           #a7c080;
@define-color blue            #7fbbb3;
@define-color aqua            #83c092;
@define-color purple          #d699b6;
@define-color warning-color   #e67e80;

* {
    font-family: "Symbols Nerd Font Mono", "scientifica";
    font-size: 11px;
    min-width: 0px;
    min-height: 0px;
    margin: 2px;
}

window#waybar {
    color: @main-fg;
    background-color: @main-bg;
    transition-property: background-color;
    transition-duration: .5s;
    border: 2px solid @sub-bg;
    margin-left: 8px;
    border-radius: 16px;
}

#workspaces {
  color: @main-fg;
  background: @main-bg;
}

#workspaces button {
  color: @gray;
  background: @main-bg;
}

#workspaces button.active {
	color: @main-fg;
	background-color: @sub-bg;
	border-bottom: 2px solid @green;
}

#workspaces button.focused {
  color: @bg_active;
}

#workspaces button.urgent {
	background-color:  @sub-bg;
	color: @warning_color;
	border-bottom: 2px dashed @orange;
  animation: blinker 1.618s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#workspaces button:hover {
  background: @green;
	color: @main-bg;
}

#tags button {
  color: @main-fg;
  background: @main-bg;

}
#tags button.occupied {
  color: @gray;
  background: @main-bg;
	transition: all 0.314s;
}

#tags button.focused {
	color: @main-fg;
	background-color: @sub-bg;
	border-bottom: 2px solid @green;
}

#tags button.urgent {
	background-color:  @warning_color;
	color: @warning_color;
	border-bottom: 2px dashed @yellow;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    /* border-radius: 0; */
    transition-property: background-color;
    transition-duration: .5s;
    margin: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    transition-property: background-color;
    box-shadow: inset 0 -2px @main-fg;
    transition-duration: .5s;

}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 4px;
    margin: 4px;
    background-color: @sub-bg;
    border-radius: 8px;
}


#clock {
    color: @green;
}

#cpu {
    color: @blue;
}

#memory {
    color: @purple;
}

#backlight {
    color: @main-fg;
}

#network {
    color: @aqua;
}

#network.disconnected {
    color: @gray;
}

#wireplumber {
    color: @yellow;
}

#wireplumber.muted {
    color: @bg_yellow;
}

#temperature {
    color: @orange;
}

#temperature.critical {
    color: @orange;
}

#custom-icon {
    color: @green;
    font-size: 15px;
    padding: 8px;
}

#tray {
    padding: 0 1px;
    background-color:transparent;
}

window {
    background-color: @red;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
